.container {
    background-color: aqua;
    width: 80%;
    height: 570px;
    position: relative;
    top: 10px;
    left: 8%;
}

.mainbox {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100% 166px;
    grid-gap: 3px;
}

.main1 {
    background-color: tomato;

}

img {
    position: relative;
    top: 70px;
    left: 40px;
    max-width: 60%;
    border-radius: 50%;
    border: 1px blue solid;
}

.brands {
    list-style: none;
    position: relative;
    top: 100px;
    left: 27px;
    line-height: 30px;
}

a:hover {
    background-color: black;
    color: gold;
}

.main2 {
    position: absolute;
    top: 20%;
    left: 20%;
    max-width: 750px;
}

.box1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;

}

.box2 {
    margin-block-start: -4%;
    font-size: 18px;
}

.box3 {
    margin-block-start: 7%;
}

.main2 {
    padding-left: 4%;
}

.fa {
    display: block;
    padding: 2%;
    color: white;
    background-color: black;
    border-radius: 45%;
    margin-block-start: 3%;
    cursor: pointer;
}